<section id="About" class="about">
   <div class="container">
      <div class="row align-items-center">
         <div class="col-lg-6 col-12 ">
            <div class="about__title">
               <h4> WE UNDERSTAND HOW IMPORTANT IT IS TO FIND THE RIGHT AUTO SERVICE</h4>
            </div>
            <div class="about__text">
               <p> Car repairs and maintenance can be expensive and no one wants to have pay to repair damage caused by
               shoddy repair service. When you bring your car into our auto shop, you won’t have to worry because our
               staff is comprised of ASE certified technicians who are committed to making sure you have a safe
               dependable car.</p>
            </div>
            <div class="about__link">
               <a href="#">MORE ABOUT US</a>
            </div>
         </div>
         <div class="col-lg-6 col-12  d-flex justify-content-end">
            <div class="about__image">
               <img src="../img/about.webp" alt="about">
            </div>
         </div>
      </div>
   </div>
</section>