<section class="contact">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="contact__title">
               <h6>Contact us</h6>
            </div>
            <form class="contact__form" action="">
               <div class="contact__form_row">
                  <div class="contact__form_row_group">
                     <input type="text" class="input" placeholder=" ">
                     <label for="" class="label">
                        Name
                     </label>
                  </div>
                  <div class="contact__form_row_group">
                     <input type="text" class="input" placeholder=" ">
                     <label for="" class="label">
                        Last name
                     </label>
                  </div>
               </div>
               <div class="contact__form_row">
                  <div class="contact__form_row_group">
                     <input type="email" class="input" placeholder=" ">
                     <label for="" class="label">
                        Emale
                     </label>
                  </div>
                  <div class="contact__form_row_group">
                     <input type="tel" class="input" placeholder=" ">
                     <label for="" class="label">
                        Phone
                     </label>
                  </div>
               </div>
               <div class="contact__form_row">
                  <div class="contact__form_row_group">
                     <textarea class="textarea" placeholder=" " name=""></textarea>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</section>