<section class="fast">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="fast__title">
               <h4><b>FAST & EASY</b></h4>
            </div>
            <div class="fast__subtitle">
               <p>our work process</p>
            </div>
         </div>
         <div class="col-4">
            <div class="fast__info">
               <div class="fast__info_title">
                  <h5>1.Request your quote</h5>
               </div>
               <div class="fast__info_text">
                  <p>We will be there when you most need us</p>
               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="fast__info">
               <div class="fast__info_title">
                  <h5>02. BRING YOUR VEHICLE</h5>
               </div>
               <div class="fast__info_text">
                  <p>We are car guys at heart</p>
               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="fast__info">
               <div class="fast__info_title">
                  <h5>03. GET IT REPAIRED</h5>
               </div>
               <div class="fast__info_text">
                  <p>High quality, low cost car servicing</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>