<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__footer">
                <div class="footer__copyright">
                    <p>© 2023 Auto theme by Frontend Tricks Nazarii Kekosh
                    </p>
                </div>
                <div class="footer__social">
                    <div class="footer__social_link">
                        <a href="https://www.linkedin.com/" target="_blank">
                            <img src="./img/footer/in.svg" alt="in">
                        </a>
                        <a href="https://uk-ua.facebook.com/" target="_blank">
                            <img src="./img/footer/facebook.svg" alt="facebook">
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <img src="./img/footer/instagram.svg" alt="instagram">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>