<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer__footer">
                <div class="footer__copyright">
                    <p>© 2021 Auto theme by Frontend Tricks</p>
                </div>
                <div class="footer__social">
                    <div class="footer__social_link">
                        <a href="https://www.linkedin.com/" target="_blank">
                            <img src="../img/footersocial1.svg" alt="footersocial1">
                        </a>
                        <a href="https://uk-ua.facebook.com/" target="_blank">
                            <img src="../img/footersocial2.svg" alt="footersocial2">
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <img src="../img/footersocial3.svg" alt="footersocial3">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>