<section class="header">
    <div class="container">
        <div class="row">
            <div class="header__header">
                <button class="header__burger-btn" id="burger">
                    <span></span><span></span><span></span>
                </button>
                <div class="header__logo">
                    <a href="#"><img src="../img/logo.png" alt="logo"></a>
                </div>
                <div class="header__nav">
                    <nav>
                        <ul>
                            <li><a href="#Main">Main</a></li>
                            <li><a href="#Ourservices">Our services</a></li>
                            <li><a href="#About">About</a></li>
                            <li><a href="#Contacts">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__lang">
                    <a href="#">UA</a>
                    <a href="#">EN</a>
                </div>
            </div>
        </div>
</section>