<section class="header">
    <div class="burger-menu">
        <a href="#" class="burger-menu__button">
            <span class="burger-menu__lines"></span>
        </a>
        <nav class="burger-menu__nav">
            <a href="#Main" class="burger-menu__link">Main</a>
            <a href="#Ourservices" class="burger-menu__link">Our services</a>
            <a href="#About" class="burger-menu__link">About</a>
            <a href="#Contacts" class="burger-menu__link">Contacts</a>
        </nav>
        <div class="burger-menu__overlay"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="header__header">
                <div class="header__logo">
                    <a href="#"><img src="./img/logo.png" alt="logo"></a>
                </div>
                <div class="header__nav">
                    <nav>
                        <ul>
                            <li><a href="#Main">Main</a></li>
                            <li><a href="#Ourservices">Our services</a></li>
                            <li><a href="#About">About</a></li>
                            <li><a href="#Contacts">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header__lang">
                    <a href="#">UA</a>
                    <a href="#">EN</a>
                </div>
            </div>
        </div>
</section>
