<section class="info">
   <div class="container">
      <div class="row">
         <div class="info__column">
            <div class="info__item">
               <div class="info__item_img">
                  <img src="../img/call 1.png" alt="call 1">
               </div>
               <div class="info__item_title">
                  <h3><b>CALL US NOW 222-222-222</b></h3>
               </div>
               <div class="info__item_subtitle">
                  <p>Feel free to call us</p>
               </div>
            </div>
            <div class="info__item">
               <div class="info__item_img">
                  <img src="../img/calendar 2.svg" alt="calendar 2">
               </div>
               <div class="info__item_title">
                  <h3><b>GET FREE APPOITMET</b></h3>
               </div>
               <div class="info__item_subtitle">
                  <p>Free Diagnosis & Brake Checks</p>
               </div>
            </div>
            <div class="info__item">
               <div class="info__item_img">
                  <img src="../img/maps1.svg" alt="maps1">
               </div>
               <div class="info__item_title">
                  <h3><b>FIND US ON MAP</b></h3>
               </div>
               <div class="info__item_subtitle">
                  <p>New York, 1286 Ruumu Nanor</p>
               </div>
            </div>

         </div>
      </div>
   </div>
</section>