<section class="info">
   <div class="container">
      <div class="row">
         <div class="info__column">
            <div class="info__item">
               <div class="info__item_img">
                  <a href="tel:222-222-222"> <img src="./img/call 1.png" alt="call 1"></a>
               </div>
               <div class="info__item_title">
                  <a href="tel:222-222-222">
                     <h3><b>Call us now 222-222-222</b></h3>
                  </a>
               </div>
               <div class="info__item_subtitle">
                  <p>Feel free to call us</p>
               </div>
            </div>
            <div class="info__item">
               <div class="info__item_img">
                  <a href="https://calendar.google.com/calendar/u/0/r?pli=1" target="_blank"><img
                        src="./img/calendar 2.svg" alt="calendar 2"></a>

               </div>
               <div class="info__item_title">
                  <a href="https://calendar.google.com/calendar/u/0/r?pli=1" target="_blank">
                     <h3><b>Get free appoitmet</b></h3>
                  </a>
               </div>
               <div class="info__item_subtitle">
                  <p>Free diagnosis & brake checks</p>
               </div>
            </div>
            <div class="info__item">
               <div class="info__item_img">
                  <a href="https://goo.gl/maps/sH4554NUrPfXfaHZ7" target="_blank"><img src="./img/maps1.svg"
                        alt="maps1"></a>

               </div>
               <div class="info__item_title">
                  <a href="https://goo.gl/maps/sH4554NUrPfXfaHZ7" target="_blank"><h3><b>Find us on map</b></h3></a>
               </div>
               <div class="info__item_subtitle">
                  <p>New York, 1286 Ruumu Nanor</p>
               </div>
            </div>

         </div>
      </div>
   </div>
</section>