<section id="Ourservices" class="ourservices">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="ourservices__title">
               <h2>OUR SERVICES</h2>
            </div>
            <div class="ourservices__subtitle">
               <a href="#">VIEW ALL SERVICES</a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-4 col-12">
            <div class="ourservices__item">
               <div class="ourservices__item_content" style="background-image: url('../img/diagnostic.webp');">
                  <div class="ourservices__item_content-block">
                     <div class="ourservices__item_content-img">
                        <a href="#">
                           <img src="../img/plus.svg" alt="plus">
                        </a>
                     </div>
                     <div class="ourservices__item_content-text">
                        <p>ANNUAL CHECKUPS FROM YOUR PHYSICIAN KEEP YOU IN GOOD HEALTH</p>
                     </div>
                  </div>
               </div>
               <div class="ourservices__item_title">
                  <a href="#">DIAGNOSTIC</a>
               </div>
            </div>
         </div>
         <div class="col-sm-4 col-12">
            <div class="ourservices__item">
               <div class="ourservices__item_content" style="background-image: url('../img/tires.webp');">
                  <div class="ourservices__item_content-block">
                     <div class="ourservices__item_content-img">
                        <a href="#">
                           <img src="../img/plus.svg" alt="plus">
                        </a>
                     </div>
                     <div class="ourservices__item_content-text">
                        <p>ANNUAL CHECKUPS FROM YOUR PHYSICIAN KEEP YOU IN GOOD HEALTH</p>
                     </div>
                  </div>
               </div>
               <div class="ourservices__item_title">
                  <a href="#">TIRES & WHEELS</a>
               </div>
            </div>
         </div>
         <div class="col-sm-4 col-12">
            <div class="ourservices__item">
               <div class="ourservices__item_content" style="background-image: url('../img/Engine.webp');">
                  <div class="ourservices__item_content-block">
                     <div class="ourservices__item_content-img">
                        <a href="#">
                           <img src="../img/plus.svg" alt="plus">
                        </a>
                     </div>
                     <div class="ourservices__item_content-text">
                        <p>ANNUAL CHECKUPS FROM YOUR PHYSICIAN KEEP YOU IN GOOD HEALTH</p>
                     </div>
                  </div>
               </div>
               <div class="ourservices__item_title">
                  <a href="#">ENGINES</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>