.about{
   background-color: black;
   &__title{
      h4{
         margin-top: 118px;
         margin-bottom: 40px;
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 700;
         font-size: 30px;
         line-height: 1.5;
         letter-spacing: 0.15em;
         text-transform: uppercase;
         color: #FFFFFF;
         @media screen and (max-width:1200px) {
            font-size: 28px;
            text-align: center;
         }
         @media screen and(max-width: 767px) {
            margin-top: 60px;
         }
      }
   }
   &__text{
      margin-bottom: 48px;
      p{
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 600;
         font-size: 15px;
         line-height: 1.5;
         letter-spacing: 0.23em;
         color: #B7B7B7;
         @media screen and (max-width:1200px) {
            font-size: 13px;
            text-align: center;
         }
      }
   }
   &__link{
      margin-bottom: 118px;
      @media screen and(max-width: 991px) {
         margin-bottom: 60px;
      }
      :hover{
         color: red;
         text-decoration: none;
         transition: 1.5s;
      }
      a{
         font-family: 'Poppins';
         font-style: normal;
         font-weight: 500;
         font-size: 18px;
         line-height: 1.5;
         text-transform: uppercase;
         color: #FFFFFF;  
      }
      @media screen and (max-width:1200px) {
         font-size: 13px;
      }
   }
   &__image{
      img{
         max-height: 513px;
         @media screen and (max-width:1200px) {
            max-height: 300px;
         }
         @media screen and (max-width: 991px) {
            margin-bottom: 90px;
            max-height: 250px;
         }
         @media screen and (max-width: 991px) {
            margin-bottom: 60px;
            max-height: 200px;
         }

      }
   }

}