.contact{
   padding: 100px 0;
   background-color: #171616;
   &__title{
      margin-bottom: 50px;
      h6{
         font-family: 'Poppins';
         font-weight: 700;
         font-size: 30px;
         line-height: 1.5;
         letter-spacing: 0.15em;
         color: #FFFFFF;
      }
      
   }
   &__form{

      button{
         background-color: red;
         color: #FFFFFF;
         padding: 11px 75px;
         border: none;
         transition: 1.5s;
         &:hover {
            box-shadow: 4px 4px 8px white;
            text-shadow: 8px 8px 16px rgb(19, 18, 18);

            background-color: red;
         }
      }
      max-width: 440px;
      &_row{
         margin: 0 -20px;
         display: flex;

         &_group{
            margin-bottom: 30px;
            padding: 0 20px;
            flex: 1;
            position: relative;
            input{
               width: 100%;
               padding: 10px 0;
               color: #fff;
               font-size: 15px;
               font-family: inherit;
               outline: 0;
               border: 0;
               border-bottom: 1px solid #fff;
               background-color: transparent;
            }
            label{
               letter-spacing: 0.15em;
               color: #FFFFFF;
               position: absolute;
               top: 10px;
               left: 20px;
               pointer-events: none;
               transition: all .2s ease;
            }
            textarea{
               width: 100%;
               min-height: 130px;
               padding: 10px 0;
               resize: vertical;
               color: #fff;
               font-size: 15px;
               font-family: inherit;
               outline: 0;
               border: 0;
               border-bottom: 1px solid #fff;
               background-color: transparent;
            }
         
         }
      }
      
   }
   .input:focus + .label {
      transform: translateY(-20px);
      font-size: 12px;
   }
   .input:not(:placeholder-shown) + .label{
      transform: translateY(-20px);
      font-size: 12px;
   }
   .textarea:focus + .label {
      transform: translateY(-20px);
      font-size: 12px;
   }
   .textarea:not(:placeholder-shown) + .label{
      transform: translateY(-20px);
      font-size: 12px;
   }
}