.header {
   font-family: 'Poppins', sans-serif;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;



   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__logo {
         margin-top: 20px;
         margin-bottom: 14px;

         img {
            @media screen and (max-width: 991px) {
               max-height: 40px;
            }
         }

         a {
            :hover {
               transform: scale(1.2);
               transition: 1.5s;
            }
         }
      }

      .header__nav {
         nav {
            ul {
               display: flex;
               align-items: center;
               justify-content: center;
               justify-content: center;

               @media screen and (max-width: 767px) {
                  display: none;

               }

               :last-child {
                  margin-right: 0;
               }

               li {
                  list-style: none;
                  margin-right: 35px;


                  :hover {
                     color: red;
                     text-shadow: 0 0 3px #979696, 0 0 5px #0f0f0f;
                     transition: 1.5s;
                  }

                  a {
                     white-space: nowrap;
                     text-decoration: none;
                     color: #FFFFFF;
                     font-family: 'Poppins';
                     font-style: normal;
                     font-weight: 600;
                     font-size: 15px;
                  }
               }

               @media screen and (max-width: 765px) {
                  position: absolute;
                  left: 0;
                  top: 0;
                  left: -200px;
                  width: 200px;

                  background-color: red;
                  padding: 75px 20px 20px 20px;


               }
            }
         }
      }

      .header__lang {
         :hover {
            color: red;

            transition: 1.5s;
         }

         :first-child {
            margin-left: 0;
         }

         a {
            margin-left: 8px;
            text-decoration: none;
            color: #FFFFFF;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
         }
      }

      &__mobile_menu {
         float: left;
         height: 25px;
         width: 40px;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         cursor: pointer;
      }

      .menulogo {
         height: 3px;
         width: 30px;
         background-color: white;
      }

      .menu {
         background-color: red;
         width: 50%;
         height: 100vh;
         padding: 50px;

         li {
            list-style-type: none;
            border-bottom: 1px solid white;
            padding: 30px 0;
            text-align: center;

            a {
               color: black;
               text-decoration: none;
               font-size: 20px;
               white-space: nowrap;

            }
         }
      }

      .mobile__icon {
         display: none;
         width: 30px;
         height: 30px;
         position: relative;
         z-index: 5;
         overflow: hidden;

         @media screen and(max-width:767px) {
            display: block;
         }
      }

      .mobile__icon span {
         width: 30px;
         height: 2px;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         background-color: $var1;
         transition: all 0.5s;
      }

      .mobile__icon span:nth-of-type(2) {
         top: calc(50% - 5px);
      }

      .mobile__icon span:nth-of-type(3) {
         top: calc(50% + 5px);
      }

      .mobile__menu {
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         padding: 15px;
         background: rgb(245, 246, 237);
         background: linear-gradient(90deg, rgba(245, 246, 237, 1) 0%, rgba(219, 216, 216, 1) 46%, rgba(136, 132, 132, 1) 100%);
         transform: translateX(100%);
         transition: transform 0.5s;

         .hamb_nav {
            margin-top: 60px;

            ul {
               li {
                  padding-bottom: 20px;

                  a {
                     font-size: 24px;
                     font-weight: 700;
                     color: $var1;
                     text-decoration: none;
                  }
               }
            }

         }



      }
   }

}


.mobile__menu.active {
   transform: translateX(0);
}
