.header {
   font-family: 'Poppins', sans-serif;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;

   .burger-menu__button{
      position: fixed;
      top: 20px;
      left: 20px;
      z-index: 30;
      width: 45px;
      height: 45px;
      display: none;
      @media screen and ( max-width: 765px){
         display: block;
      }
   }
   .burger-menu__lines,
   .burger-menu__lines::after,
   .burger-menu__lines::before {
      position: absolute;
      width: 25px;
      height: 3px;
      background-color: red;
   }
   .burger-menu__lines{
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
   .burger-menu__lines::after {
      content: '';
      top: 12px;
   }
   .burger-menu__lines::before {
      content: '';
      top: -12px;
   }
   .burger-menu_active .burger-menu__lines{
      background-color: transparent;
   }
   .burger-menu_active .burger-menu__lines::before{
      top: 0;
      transform: rotate(45deg);
   }
   .burger-menu_active .burger-menu__lines::after{
      top: 0;
      transform: rotate(-45deg);
   }
   

   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .header__logo {
         margin-top: 20px;
         margin-bottom: 14px;

         img {
            @media screen and (max-width: 991px) {
               max-height: 40px;
            }
         }

         a {
            :hover {
               transform: scale(1.2);
               transition: 1.5s;
            }
         }
      }

      .header__nav {
         nav {
            ul {
               display: flex;
               align-items: center;
               justify-content: center;
               justify-content: center;

               @media screen and (max-width: 765px) {
                  display: none;

               }

               :last-child {
                  margin-right: 0;
               }

               li {
                  list-style: none;
                  margin-right: 35px;


                  :hover {
                     color: red;
                     text-shadow: 0 0 3px #979696, 0 0 5px #0f0f0f;
                     transition: 1.5s;
                  }

                  a {
                     white-space: nowrap;
                     text-decoration: none;
                     color: #FFFFFF;
                     font-family: 'Poppins';
                     font-style: normal;
                     font-weight: 600;
                     font-size: 15px;
                  }
               }

               @media screen and (max-width: 765px) {
                  position: absolute;
                  left: 0;
                  top: 0;
                  left: -200px;
                  width: 200px;

                  background-color: red;
                  padding: 75px 20px 20px 20px;


               }
            }
         }
      }

      .header__lang {
         :hover {
            color: red;

            transition: 1.5s;
         }

         :first-child {
            margin-left: 0;
         }

         a {
            margin-left: 8px;
            text-decoration: none;
            color: #FFFFFF;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
         }
      }

   }
}